* {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;

}

h3 {
	padding-left: 50px;
}

#pheader {
	font-weight: bolder;
	font-size: 13px;
}

#content {
	font-size: 12px;
}

#part1 {
	padding-left: 130px;
	padding-top: 15px;
	padding-bottom: 50px;
}

#bottom1 {
	font-size: 12px;
}

#bottom {
	font-size: 13px;
	font-weight: bolder;
}

#part2 {
	padding-top: 10px;
	padding-left: 20px;
	display: inline;
}
.column {
	padding-top:  15px;
	padding-left: 10px;
 	float: left;
 	width: 20%;
 	background-color: #002540;
 	color: white;
}

.column {
	font-size: 13px;
	font-weight: bolder;
}

.row {
	padding-top: 5px;
}

.column2 {
	font-size: 12px;
	float: left;
 	width: 20%;
 	padding-left: 10px;
 	padding-top: 3px;
 	background-color: #002540;
 	color: white;
}

.column3 {
	font-size: 12px;
	float: left;
 	width: 20%;
 	padding-left: 10px;
 	background-color: #002540;
 	color: white;
}

.column4 {
	font-size: 12px;
	float: left;
 	width: 20%;
 	padding-left: 10px;
 	background-color: #002540;
 	color: white;
}

.column11 {
	font-size: 12px;
	float: left;
 	width: 20%;
 	padding-left: 10px;
 	background-color: #002540;
 	color: #002540;
}

.column5 {
	font-size: 12px;
	float: left;
 	width: 20%;
 	padding-left: 10px;
 	background-color: #002540;
 	color: white;
 }

.column12 {
	font-size: 12px;
	float: left;
 	width: 10%;
 	padding-top: 20px;
 	margin-top: 5px;
}
